body {
    font-family: Arial, sans-serif;
    background-color: #e0f0ff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background-color: #f0f8ff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
}

h2 {
    margin-bottom: 20px;
    color: #333;
}

.item {
    background-color: #fff;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 10px;
}

.item-header {
    font-weight: bold;
    margin-bottom: 5px;
}

.item-details {
    color: #555;
    margin-bottom: 10px;
}

button {
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
}

.entregar {
    background-color: #007bff;
    color: #fff;
}

.entregar:hover {
    background-color: #0056b3;
}

.entregado {
    background-color: #28a745;
    color: #fff;
    cursor: not-allowed;
}
